@use '../../presets' as *;
@use '../../mixins' as *;

.about {
    background-image: url("../img/WEB_final-07.png");
    background-size: 100% 100%;
    padding-top: 20px;
    padding-bottom: 80px;

    @include xl {
        padding: 0 30px 45px;
    }

    @include sm {
        padding: 10px 10px 40px 10px;
    }

    &-info {
        &__title {
            font-size: 34px;
            font-weight: 300;

            padding-bottom: 25px;

            text-align: center;

            color: rgba(0, 0, 0, 0.807);

            @include sm {
                font-size: 25px;

                padding-top: 50px;
            }
        }

        &__description {
            width: 70%;
            margin-right: auto;
            margin-left: auto;
            padding-bottom: 140px;

            color: black;

            @include sm {
                font-size: 12px;

                width: 95%;
                padding-bottom: 40px;
            }
        }
    }
}


.about-slider {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slider {
    display: flex;
    gap: 40px;
    height: 320px;
}

.slider img {
    width: 100%;
    height: 100%;
}

.about-arrow {
    cursor: pointer;
    width: 60px;
    opacity: 0.6;
}

.about-slider__arrow-left {
    left: 10px;
    /* Задайте отступ слева для стрелки влево, соответствующий вашим требованиям */
}

.about-slider__arrow-right {
    right: 10px;
    /* Задайте отступ справа для стрелки вправо, соответствующий вашим требованиям */
}