@use '../../presets' as *;
@use '../../mixins' as *;

.about {
    background-color: white;
    padding: 50px 75px 130px;

    @include xl {
        padding: 0px 30px 45px;
    }

    @include sm {
        padding: 10px 10px 40px 10px;
    }

    &-info {
        &__title {
            font-size: 40px;
            font-weight: 500;
            font-style: normal;
            line-height: 140%;
            padding-top: 100px;
            padding-bottom: 25px;
            text-align: center;
            color: black;


            @include sm {
                padding-top: 50px;
                font-size: 25px;
            }
        }

        &__description {
            font-size: 15px;
            font-weight: 300;
            padding-bottom: 50px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            color: black;

            @include sm {
                font-size: 12px;
                padding-bottom: 40px;
                width: 95%;
            }
        }
    }

    &-circle {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include md {
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

        @include sm {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        &__icon {
            position: relative;
        }

        &__position {
            position: absolute;
            margin: 10px;
            bottom: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            @include xl {
                margin: 5px;
                gap: 4px;
            }
        }

        &__icon-name {
            font-size: 20px;
            font-weight: 500;
            padding-left: 20px;

            @include xl {
                padding-left: 0px;
                font-size: 17px;
            }
        }

        &__icon-work {
            color: darkmagenta;
            padding-left: 20px;

            @include xl {
                padding-left: 0px;
                font-size: 15px;
            }
        }

        &__icon-description {
            background-color: lightgrey;
            padding: 10px 20px 10px 20px;
            border-radius: 10px;
            opacity: 0.8;

            font-size: 10px;
            font-style: normal;
            width: 90%;

            @include xl {
                padding: 5px;
                width: 95%;
            }

            @include sm {
                font-size: 9px;
            }
        }

        &__icon-picture {}

        &__icon-image {
            width: 100%;
        }

    }
}



.icon-box {

    margin: 10px;

    @include xl {
        margin: 2px;
    }

    &__link {
        margin: 6px;

        @include xl {
            margin: 4px;
        }
    }

    &__image {
        width: 30px;

        @include xl {
            width: 20px;
        }
    }
}