@use '../../presets' as *;
@use '../../mixins' as *;

.contacts {
    background-color: white;
    padding-top: 150px;
    padding-bottom: 100px;

    &__title {
        text-align: center;
        margin-bottom: 50px;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 3px;

        @include sm {
            font-size: 35px;
        }
    }

    &__description {
        text-align: center;
        margin-bottom: 90px;
        font-size: 19px;
        font-weight: 300;
        letter-spacing: 1px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        line-height: 37px;

    }

    &-box {
        display: flex;
        gap: 180px;
        flex-wrap: wrap;
        justify-content: center;

        @include xl {
            gap: 45px;
        }

        &__text {}
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &__tel {
            color: black;
            font-size: 28px;
            font-weight: 300;
            letter-spacing: 1px;

            @include sm {
                font-size: 25px;
            }
        }

        &__mail {
            color: black;
            font-size: 23px;
            font-weight: 300;
            letter-spacing: 1px;

            @include sm {
                font-size: 20px;
            }
        }

        &__address {
            margin-top: 30px;
            margin-bottom: 20px;
            font-size: 15px;
            font-weight: 300;
        }

        &__box {

            &-link {}

            &-image {
                width: 30px;
            }

            &__enter {}
        }
    }

    &-form {
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 400px;

        @include sm {
                width: 320px;
            }

        &__label {}

        &__input {
            padding: 20px;
            // width: 470px;
            width: 100%;
            max-height: 15vh;
            outline: none;
            border: rgb(191, 189, 189) solid 1px;

            &::placeholder {
                color: grey;
                font-size: 15px;
                font-weight: 300;

            }
        }

        &__enter {}

        &__button {
            padding: 20px;
            border-radius: 40px;
            background-color: white;
            border: 1px solid rgb(191, 189, 189);
            // min-width: 150px;
            min-width: 200px;

            @include sm {
                min-width: 150px;
            }

            &:hover {
                background-color: black;

                color: white;
            }
        }
    }
}