@use '../../presets' as *;
@use '../../mixins' as *;

.money
{
    position: relative;

    min-height: 100vh;

    background-color: white;

    &-title
    {
        font-size: 50px;
        font-weight: 500;
        font-style: normal;
        line-height: 140%;

        padding: 50px;

        text-align: center;
        letter-spacing: 4px;

        color: black;
    }

    &-description
    {
        text-align: center;
    }


    &-box
    {
        display: flex;

        justify-content: space-around;
        gap: 20px;
    }

    &-item
    {
        display: flex;
        flex-direction: column;

        min-width: 300px;
        padding: 20px;

        gap: 20px;


        &__title
        {
            color: black;
        }

        &__price
        {
            display: flex;

            &-number
            {
                color: black;
            }
        }

        &__content
        {
            &-text
            {
                color: black;
            }
        }

        &__button
        {
            width: 100px;
            margin-right: auto;
            margin-left: auto;

            text-align: center;

            color: red;
            border: 1px solid black;
            border-radius: 20px;

            &:hover
            {
                background-color: black;
            }
        }
    }
}
