@use '../../presets' as *;
@use '../../mixins' as *;

.work {
    padding-bottom: 10px;

    @include sm {
        padding-bottom: 40px;
        padding-top: 60px;
    }

    background-image: url("../img/WEB_final-04.png");
    background-size: 100% 100%;
}

.work-text {
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 100px;
    color: rgba(255, 255, 255, 0.6);

    @include sm {
        margin-bottom: 70px;
    }
}

.work-icon {
    width: 120px;
    border-radius: 30px;
    text-align: center;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
    border: 1px solid #e8d1d1;
}

.work-icons__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    align-items: center;
    justify-items: center;
}

.work-icons__wrapper-text {
    margin-left: 20%;

    @include sm {
        margin-left: 10%;
    }
}

.work-icons__wrapper-text>h3 {
    color: white;
    font-weight: 300;
    font-size: 25px;

    @include sm {
        font-size: 18px;
    }
}

.work-icons__wrapper-text>h3>span {
    color: hsl(280, 42%, 45%);
    font-size: 50px;

    @include sm {
        font-size: 30px;
    }
}

.work-icons__wrapper-text>p {
    color: rgba(255, 255, 255, 0.59);
    font-weight: 300;

    @include sm {
        font-size: 13px;
    }
}

.work-icon__text {
    margin-top: 10px;
}

.work-icon__image {
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    transition: .5s;

    @include sm {
        width: 50px;
    }
}

.work-one {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: white;
    border: none;
    padding-top: 0px;

    @include sm {
        width: 120px;
        height: 120px;
    }
}

.work-two {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: #d5aeea;
    border: none;
    padding-top: 0px;

    @include sm {
        width: 120px;
        height: 120px;
    }
}

.work-three {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: #d391f6;
    border: none;
    padding-top: 0px;

    @include sm {
        width: 120px;
        height: 120px;
    }
}

.work-four {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: #c171ec;
    border: none;
    padding-top: 0px;

    @include sm {
        width: 120px;
        height: 120px;
    }
}

.work-five {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: #be61f0;
    border: none;
    padding-top: 0px;

    @include sm {
        width: 120px;
        height: 120px;
    }
}

.work-six {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: #9940c8;
    border: none;
    padding-top: 0px;

    @include sm {
        width: 120px;
        height: 120px;
    }
}