@use '../../presets' as *;
@use '../../mixins' as *;

.work {
    padding-top: 100px;
    padding-bottom: 70px;
    background-image: url("../img/Снимок\ экрана\ 2023-04-17\ в\ 08.05.42.jpg");
    background-size: cover;
    background-position: center;
}

.work-text {
    text-align: center;
    margin-bottom: 100px;
    color: rgba(255, 255, 255, 0.6);
}

// .color-one {
//     background-color: #eddef5;
// }

// .color-two {
//     background-color: #dab0f0;
// }

// .color-three {
//     background-color: #d391f6;
// }

// .color-four {
//     background-color: #c66cf6;
// }

// .color-five {
//     background-color: #bf5ef4;
// }

// .color-six {
//     background-color: #b742f6;
// }

.work-icon {
    width: 120px;
    border-radius: 30px;
    text-align: center;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
    border: 1px solid #e8d1d1;
}

.work-icons__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    align-items: center;
    justify-items: center;
}

.work-icons__wrapper-text {
    margin-left: 20%;
}

.work-icons__wrapper-text>h3 {
    color: white;
}

.work-icons__wrapper-text>h3>span {
    color: hsl(279, 91%, 61%);
    font-size: 50px;
}

.work-icons__wrapper-text>p {
    color: rgba(255, 255, 255, 0.59);
}

.work-icon__text {
    margin-top: 10px;
}

.work-icon__image{
width: 70px;
margin-left: auto;
margin-right: auto;
transition: .5s;
}

.work-one {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: white;
    border: none;
    padding-top: 0px;
}

.work-two {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: #dab0f0;
    border: none;
    padding-top: 0px;
}

.work-three {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: #d391f6;
    border: none;
    padding-top: 0px;
}

.work-four {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: #c66cf6;
    border: none;
    padding-top: 0px;
}

.work-five {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: #b44ced;
    border: none;
    padding-top: 0px;
}

.work-six {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: #9c25dd;
    border: none;
    padding-top: 0px;
}