@use '../../presets' as *;
@use '../../mixins' as *;

.portfolio {
    height: 120vh;
    background-image: url("../img/WEB_final-03.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__title {
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.801);
    text-align: center;
    margin-bottom: 20px;
}

.portfolio__description {
    max-width: 600px;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.801);
    text-align: center;
}

.portfolio-wrapper__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.portfolio-item {
    width: 250px;
    height: 350px;
    background: linear-gradient(209.21deg, rgb(29, 19, 36) 13.57%, rgb(0, 35, 124) 98.38%);
    border-radius: 20px;
    padding: 20px;
    transition: 0.4s;
    color: white;
}

.portfolio-item:hover {
    width: 270px;
    height: 370px;
}

.portfolio-item__pic {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.portfolio-item__img {
    width: 230px;
    border-radius: 10px;
    transition: 0.4s;
}

.portfolio-item__text {
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
}

.portfolio-image {
    position: relative;
    height: 400px;
    width: 600px;
}

.portfolio-card {
    margin: 10px;
    width: 460px;
    height: 250px;
    border-radius: 30px;
    font-size: 30px;
    transition: .3s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.portfolio-first {
    left: 5%;
    top: 20%;
    z-index: 10;
    box-shadow: 25px 25px 50px rgb(9, 9, 9);
}

.portfolio-second {
    left: 18%;
    top: 32%;
    z-index: 9;
    filter: blur(1px);
    box-shadow: 5px 5px 15px rgb(0 0 0 / 76%);
}

.portfolio-third {
    left: 23%;
    top: 37%;
    z-index: 8;
    filter: blur(2px);
    box-shadow: 5px 5px 15px rgb(0 0 0 / 76%);
}

.portfolio-fourth {
    left: 28%;
    top: 42%;
    z-index: 7;
    filter: blur(3px);
}

.portfolio-wrapper__info {
    margin-top: -80px;
    display: flex;
    flex-direction: column;
}

.portfolio-wrapper__info-button {
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    background-color: #5c5a86;
    color: rgba(255, 255, 255, 0.866);
    font-size: 16px;
    font-weight: 300;
    width: 200px;
    margin-bottom: 10px;
}

.portfolio-click {
    position: absolute;
    z-index: 10;
    top: 33%;
    left: 20%;
    width: 530px;
    height: 310px;
    cursor: pointer;
}

.portfolio-wrapper__info-description {
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
}

.portfolio-wrapper__info-title {
    font-size: 28px;
    font-weight: 400;
}

.portfolio-wrapper__info-button-all {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: #5c5a86;
    color: rgba(255, 255, 255, 0.866);
    font-size: 11px;
    font-weight: 300;
    width: 115px;
    position: absolute;
    bottom: -21%;
    right: -5%;
    display: none;
}

.portfolio-window {
    position: fixed;
    height: 95vh;
    width: 92vw;
    z-index: 100;
    border-radius: 30px;
    background-color: rgba(42, 59, 85, .79);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.portfolio-window.active {
    opacity: 1;
    width: 95vw;
    display: block;
    pointer-events: auto;
}

.portfolio-window__image {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 35px;
    padding: 5px;
    cursor: pointer;
    transition: opacity 2s;
    // opacity: 0;
    border: 0.5px solid white;
    border-radius: 20px;
    background-color: rgba(15, 18, 22, .301);
}