@use '../../presets' as *;
@use '../../mixins' as *;

.portfolio {
    height: 100vh;
    background-image: url("../img/WEB_final-03.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__title {
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.801);
    text-align: center;
    margin-bottom: 20px;
}

.portfolio__description {
    max-width: 600px;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.801);
    text-align: center;
    margin-bottom: 20px;
}

.portfolio-wrapper {
    margin-top: 10px;
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-item {
    width: 250px;
    height: 350px;
    background: linear-gradient(209.21deg, rgb(29, 19, 36) 13.57%, rgb(0, 35, 124) 98.38%);
    border-radius: 20px;
    padding: 20px;
    transition: 0.4s;
    color: white;
}

.portfolio-item:hover {
    width: 270px;
    height: 370px;
}

.portfolio-item__pic {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.portfolio-item__img {
    width: 230px;
    border-radius: 10px;
    transition: 0.4s;
}

.portfolio-item__text {
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
}

.portfolio-image {
    width: 70%;
    background-color: rgb(165, 192, 230);
}

.card {
    margin: 10px;
    width: 360px;
    height: 240px;
    border-radius: 30px;
    position: absolute;
    font-size: 30px;
    transition: .3s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.first {
    left: 8%;
    top: 25%;
    z-index: 10;
    box-shadow: 25px 25px 50px rgb(9, 9, 9);
}

.second {
    left: 20%;
    top: 32%;
    z-index: 9;
    filter: blur(1px);
}

.third {
    left: 23%;
    top: 35%;
    z-index: 8;
    filter: blur(2px);
}

.fourth {
    left: 26%;
    top: 40%;
    z-index: 7;
    filter: blur(3px);
}

.section2 {}

.title {}

.description {}

.button {}

.portfolio-click {
    width: 440px;
    height: 350px;
    position: absolute;
    top: 33%;
    left: 20%;
    z-index: 10;
    cursor: pointer;
}