@use '../../presets' as *;
@use '../../mixins' as *;

.portfolio {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: white;

    &-container {
        max-width: 70vw;
        margin-right: auto;
        margin-left: auto;

        @include xl {
            max-width: 90vw;
        }
    }

    &__title {
        font-size: 50px;
        font-weight: 500;
        font-style: normal;
        line-height: 140%;

        position: relative;

        margin-bottom: 50px;
        padding-top: 30px;

        text-align: center;
        letter-spacing: 4px;

        @include sm {
            font-size: 40px;
        }
    }
}