@use '../../presets' as *;
@use '../../mixins' as *;



.services {
    display: flex;
    // display: grid;
    //margin-top: 100px;

    padding-top: 150px;
    padding-bottom: 150px;

    // background-color: #f5f5f5;
    background-color: black;
    opacity: 0.8;

    align-items: center;

    @include sm {
        padding-top: 100px;
        padding-bottom: 100px;
    }





    &__title {
        font-size: 50px;
        font-weight: 500;
        color: white;
        opacity: 0.8;
        padding-bottom: 100px;

        text-align: center;

        @include sm {
            font-size: 40px;
            padding-bottom: 50px;
        }
    }

    &-box {
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        gap: 100px 0px;
        justify-items: center;

        @include lg {
            grid-template-columns: repeat(2, 1fr);
            gap: 50px 0px;
        }

        @include sm {
            grid-template-columns: 1fr;
        }

        &__item {
            display: flex;
            flex-direction: column;
            padding: 20px;
            max-width: 280px;

            gap: 10px;
            // background-color: red;
            align-items: center;



            &-title {
                font-size: 25px;
                text-align: center;
                color: white;
                opacity: 0.8;
            }

            &-picture {
                //background-color:yellow;
                max-width: 130px;
                padding-bottom: 30px;
                //height: 100px;

                order: -1;
            }

            &-image {
                // display: block;
                width: 100%;
            }

            &-description {
                font-size: 15px;
                color: white;
                opacity: 0.8;
                text-align: center;
            }
        }
    }
}