@use '../../presets' as *;
@use '../../mixins' as *;

.header {
  margin-bottom: 140px;

}

.header-menu {
  //   display: flex;
  // position: relative;
  //   justify-content: space-between;
  //   gap: 20px;
  //   align-items: center;
  //   margin-top: 50px;
  //   margin-bottom: 40px;


  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "nav logo client";
  position: relative;
  // justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;

  @include lg {
    // flex-direction: column;
    grid-template-areas: "logo client nav";
    justify-items: end;
    grid-template-columns: auto auto auto;

  }

  @include md {
    // grid-template-columns: auto auto;
    // grid-template-areas: "logo nav"
    //   "client client";
  }
}