@use '../../presets' as *;
@use '../../mixins' as *;

.footer {
    background-color: #171717;
    opacity: 0.5;

    &-container {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;

        @include sm {
            flex-direction: column;
        }
    }


    &-picture {}

    &-image {
        width: 100px;
    }

    &-security {
        color: white;
    }

    &-box {
        display: flex;
        gap: 10px;

        &__link {}

        &__image {
            width: 30px;
        }
    }
}