@use "../presets" as *;


// !список ul делает не списком
// !так подключать @include unlist;
@mixin unlist() {
  margin: 0;
  padding: 0;
  list-style: none;
}

// *визуально скрытый, правильно скрывает любой блок для google
@mixin visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}


@mixin abs-position($t: 0, $r: 0, $b: 0, $l: 0) {
  position: absolute;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}