@use '../presets' as *;
@use '../mixins' as *;

*,
*::before,
*::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 16px;
    //rem
}

body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

//font-size: 16px; em
    overflow-x: hidden;
}

a
{
    text-decoration: none;
}

ul
{
    @include unlist;
}
